/node_modules
/public/hot
/public/storage
/public/lolContent
/public/img
/public/js

/storage/*.key
/vendor

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/resources/views/report.html
dbConnect.php

/custom/API/src/apiRequests/cache
/custom/API/src/DragonData/DragonCache